{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.avatar %}
    <img class="avatar" src="{{ site.baseurl }}/assets/img/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include cv2/contact.html %}

  {% if sidebar.education %}
    {% include cv2/education.html %}
  {% endif %}

  {% include cv2/language.html %}
  {% include cv2/interests.html %}

  {% if sidebar.about %}
    {% include cv2/about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
